.header {padding: 15px;background-color: #2BA3D4;}
.header .page-title {font-family: Arial;font-size: 24px;color:#fff;margin-bottom: 0;}
.wall-control,.object-control {background-color:#b1b1b1;padding:15px;}
#sidebar {background-color: #c1c1c1;}
#sidebar > * {padding:15px;}
.object-control {width:300px;}
.object-control > div {float:left;}
.object-control .control-button div span {width:16px;height:16px;vertical-align: middle;display:inline-block;}
.object-control .control-button div.button-color {padding:5px 12px;margin-top: 20px;background-color: transparent;}
.object-control .button-group {background:url('../group.png') left top / 100% no-repeat transparent;padding:0 15px;}
.object-control .button-clone {background:url('../clone.png') left top / 100% no-repeat transparent;padding:0 15px;}
.object-control .button-remove {background:url('../remove.png') left top / 100% no-repeat transparent;padding:0 15px;}
.object-control .button-rotate-left {background:url('../rotateleft.png') left top / 100% no-repeat transparent;padding:0 15px;}
.object-control .button-rotate-right {background:url('../rotateright.png') left top / 100% no-repeat transparent;padding:0 15px;}
.delete-button {background-image: url('../delete.png');cursor: pointer;}
.rotate-button {background-image: url('../rotate.png');cursor: crosshair;width:24px !important;height:24px !important;}
.object-button {background-repeat: no-repeat;background-position: center center;background-size: contain;
position: absolute; width:16px;height:16px;left: 0;top: 0;z-index: 999;display: none;}
.dimession {width:auto;position: absolute;height:24px;left:0;top:0;z-index: 999;display: none;text-align: center;font-weight: bold;font-family: Arial;color: rgb(43, 163, 212);}
